html{
    font-size: 62.5%;
}


* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    color: #264653;
    background-color: #FEFFFE;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header{
    width: 100vw;
    height: auto;
    background-color: #fcd5ce;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  10rem;
}

.main-nav{
    width: calc(55%);
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    text-decoration: none;
    color: #9C0D38;
    font-weight: bold;
    font-size: 1.4rem;
}

.main-nav li a:hover{
    color: white;
}

.main_name{
    font-family: 'Redressed', cursive;
    font-size: 2.2rem;
    color:black;
}

h1{
    margin: 1rem;
    font-size: 3rem;
}
main{
    width: 25%;
    height: 350px;
}

form{
    margin-top: 10px;
    height: 50%;
    border-radius: 4%;
    font-size: 1.6rem;
    border-style:dotted;
    border-color:rgb(182, 182, 155);
    border-width: medium;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

form span{
    background-color: rgb(163, 251, 243);
    text-align: left;
    font-weight: bold;
}
input{
    width: 200px;
}

#enviar{
    background-color: rgb(163, 251, 243);
    font-weight: bold;
    border-color: black;
}

footer{
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    bottom: 0;
    color: white;
    margin-bottom: 1%;
}

footer img{
    width: 25px;
}
