:root{
    --primary-color:  #ffd5c2;
    --second-color:  #ade8f4;
    --background-color: #FEFFFE;
    --title-size: 2.7rem;
    --title: 2rem;
    --font-size:  1.6rem;
    --title-header-family: 'Redressed', cursive;
    --width: 100vw;
    --font-color:  #353945;

   
}

html{
    font-size: 62.5%;
    
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--background-color);
    color: var(--font-color);
    overflow: auto;
}

header{
    width: var(--width);
    min-width: 320px;
    background-color: var(--background-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.main-nav-mobile{
    width: var(--width);
    min-width: 32rem;
    max-width: 44rem;
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.portafolio-icono{
    vertical-align: bottom;
}

.main-nav-mobile img{
    width: 25px;
    height: 25px;
}

.main_name{
    font-family: var(--title-header-family);
    font-size: 3.6rem;
    color:black;
}
main{
    min-width: 320px;
    background-color: aqua;
    height: auto;
    display: flex;
    flex-wrap: wrap;
}
.sect-img-hello{
    width: 100vw;
    height: 35vh;
    min-width: 320px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sect-img-hello img{
    min-width: 320px;
    width: var(--width);
}


.hello{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--primary-color);
    color: black;
    opacity: .9;    
}


.hello h1{
    margin: 0.5rem 0;
    font-size: 2rem;
    font-family: var(--title-header-family);
}

.hello h2{
    text-align: center;
    width: 100%;
    margin: 0.5rem 0;
    font-size: var(--font-size);
    font-style: oblique;

}

/* Foto / redes / descargar cv */
.photo_redes{
    width: var(--width);
    padding: 2rem 0;
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.photo_profile img{
    width: 160px;
    height: 140px;
    border-radius: 50%;
}

.redes{
    width: 30vw;
    max-width: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
} 

.redes img{
    width: 25px;
    height: 25px;
}

.down-button{
    height: 3rem;
    width: 15rem;
    background-color: var(--primary-color);
    font-weight: bold;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-button a{
    text-decoration: none;
    font-size: var(--font-size);
    color: var(--font-color);
}

/* Profile */
.about-me{
    padding: 0 1rem;
    height: auto;
}

h2, .frase-platzi{
    font-size: var(--title);
    color: var(--font-color);
    text-align: center;
    font-weight: bolder;
}

p{
    font-size: var(--font-size);
    margin: 0.5rem 0;
}

/* Educación formal */

.education{
    width: var(--width);
    height: auto;
    background-color: rgb(160, 160, 200);
    text-align: left;
    padding: 1rem;
    font-size: var(--font-size);
}

.educaction h3{
    font-size: var(--font-size);
   
}
/* skills */
.skills{
    width: var(--width);
    min-height: 32rem;
    height: auto;
    text-align: left;
    padding: 1rem;
    font-size: var(--font-size);
    background-color: crimson;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills h2{
    width: var(--width);
}

.proyectos{
    width: var(--width);
    background-color: orange;
}
form{
    height: auto;
    min-height: 20rem;
    width: var(--width);
    min-width: 30rem;
    background-color: var(--background-color);
    font-size: var(--font-size);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

form span, form p{
    background-color: rgb(163, 251, 243);
    text-align: left;
    font-weight: bold;
}
input{
    width: 20rem;
}

#enviar{
    background-color: rgb(163, 251, 243);
    font-weight: bold;
    border-color: black;
}


footer{
    margin-top: 1rem;
    width: var(--width);
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1vh;
}


