:root{
    --primary-color:  #fcd5ce;
    --second-color:  #ffb703;
    --background-color: #FEFFFE;
    --title-size: 2.7rem;
    --title: 2rem;
    --font-size:  1.7rem;
    --font-size-bold:  1.4rem;
    --title-header-family: 'Redressed', cursive;
    --width: 100vw;
    --font-color:  #353945;
    --min-width: 320px;
   
}

html{
    font-size: 62.5%;
    
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(-10deg, var(--primary-color) 50%, #fff 50%);
    color: var(--font-color);
    overflow: auto;
}

header{
    width: var(--width);
    min-width: var(--min-width);
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
}

.main-nav-mobile{
    width: var(--width);
    min-width: 32rem;
    max-width: 44rem;
    display: flex;
    list-style: none;  
    justify-content: space-around;
}

.portafolio-icono{
    vertical-align: bottom;
}

.main-nav-mobile img{
    width: 25px;
    height: 25px;
}

.main_name{
    font-family: var(--title-header-family);
    font-size: 3.6rem;
    color:black;
}
main{
    min-width: var(--min-width);
    height: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--background-color);
}
.sect-img-hello{
    width: var(--width);
    min-width: var(--min-width);
    height: 35vh;
    min-width: var(--min-width);
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}
.sect-img-hello img{
    min-width: var(--min-width);
    width: var(--width);
}


.hello{
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    background-color: var(--primary-color);
    color: black;
    opacity: .96;    
}


.hello h1{
    margin: 0.5rem 0;
    font-size: 2rem;
    font-family: var(--title-header-family);
}

.hello h2{
    text-align: center;
    width: 100%;
    margin: 0.5rem 0;
    font-size: var(--font-size);
    font-style: oblique;

}

/* Foto / redes / descargar cv */
.photo_redes{
    min-width: var(--min-width);
    width: var(--width);
    height: auto;
    padding: 2rem 0;
    background-color: var(--background-color);
    display: flex;
    flex-flow: column;
    align-items: center;
    overflow: hidden;    
}

.photo_profile{
    width: auto;
    height: 240px;
    overflow: hidden;    
    margin-bottom: 1rem;
    text-align: center;
}
.photo_profile img{
    max-width:100%;
    max-height:100%;    
    vertical-align: middle;
    border-radius: 50%;
    border: 0.2rem solid var(--font-color);
}

.redes{
    width: 100vw;
    max-width: 15rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
} 

.redes img{
    width: 25px;
    height: 25px;
}

.down-button{
    height: 3rem;
    width: 15rem;
    background-color: var(--primary-color);
    font-weight: bold;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.down-button a{
    text-decoration: none;
    font-size: var(--font-size);
    color: var(--font-color);
}

/* Profile */
.about-me{
    min-width: var(--min-width);
    width: var(--width);
    padding: 1rem 2rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

h2, .frase-platzi{
    font-size: var(--title);
    color: var(--font-color);
    text-align: center;
    font-weight: bolder;
    margin-bottom: 1.5rem;
}

p{
    font-size: var(--font-size);
    margin: 0.5rem 0;
}

/* Educación formal */

.education{
    min-width: var(--min-width);
    width: var(--width);
    height: auto;
    text-align: left;
    font-size: var(--font-size-bold);
    padding: 1.5rem 2rem;
    padding-left: 3rem;
}


ul span{
    font-style: oblique;
    font-size: var(--font-size-bold);
}


.what-learn{
    font-weight: normal;
    font-size: var(--font-size-bold);
    font-style: oblique;
}
.educaction h3{
    font-size: var(--font-size);   
}
/* premios */
.awards{
    width: var(--width);
    min-width: var(--min-width);
    padding: 1rem 1.5rem;
    text-align: center;
}
/* skills */
.skills{
    min-width: var(--min-width);
    width: var(--width);
    min-height: 32rem;
    height: auto;
    text-align: left;
    padding: 1rem;
    font-size: var(--font-size);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skills h2{
    width: var(--width);
}

.proyectos{
    padding: 1rem 3rem;
    min-width: var(--min-width);
    width: var(--width);
    background-color: var(--second-color);
    height: 30rem;
}
.form-content{
    padding-top: 1rem;
    min-width: var(--min-width);
    width: var(--width);
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0;
    height: auto;
    min-height: 28rem;
    width: 60%;
    min-width: 32rem;
    max-width: 40rem;
    font-size: var(--font-size);  
    text-align: center;  
}


form span{
    text-align: left;
    font-weight: bold;
}
input{
    width: auto;
}

#enviar{
    width: 6rem;
    height: 3rem;
    font-weight: bold;
    border-color: black;
}


footer{
    padding: 1rem 0;
    width: var(--width);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--second-color);
}


