main{
    background-color: #ffd5c2;
    justify-content: center;
    text-align: center;
}

.sect-img-hello{
    width: 70%;
    height: 26rem;
}

.hello{
    width: 50vw;
}

.photo_redes{
    width: 30%;
    min-width: 200px;
    height: 26rem;
    order:0;
}

.skills{
    order: 0;
    width: 40%;
}

.proyectos{
    order : 1;
    width: 60%;
    height: auto;
}

.information{
    order: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.about-me,.education, .awards{
    order: 2;
    min-width: 20vw;
}

