body{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    width: 85%;

}

.sect-img-hello{
    width: 100vw;
    height: 33rem;
}

.hello{
    margin-right: 15rem;
    width: 40vw;
}

.photo_redes{
    position: absolute;
    align-items: flex-end;
    width: 75vw;
    min-width: 200px;
    height:  33rem;
    order:0;
    background-color:transparent;
}

.photo_profile{
    width: auto;
    height: 270px;
}

.photo_profile img{
    border: 0.2rem solid transparent;
}
.redes-cv{
    margin-right: 4rem;
}

.redes-cv .redes{
    border-radius: 1rem;
    height: 3rem;
    background-color: white;
}

.skills{
    order: 0;
    width: 40%;
}

.proyectos{
    order : 1;
    width: 60%;
    height: auto;
}

.information{
    order: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.about-me,.education, .awards{
    order: 2;
    width: 50%;
    min-width: 10vw;
}

