html{
    font-size: 62.5%;
}

* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

body{
    color: #264653;
    background-color: #FEFFFE;
    align-items: center;
    display: flex;
    flex-direction: column;
}

header{
    width: 100%;
    height: auto;
    background-color: #fcd5ce;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0  10rem;
}

.main-nav{
    width: calc(55%);
    display: flex;
    list-style: none;
    justify-content: space-around;
}

.main-nav li{
    display: inline-block;
}

.main-nav li a{
    text-decoration: none;
    color: #9C0D38;
    font-weight: bold;
    font-size: 1.4rem;
}

.main-nav li a:hover{
    color: white;
}

.main_name{
    font-family: 'Redressed', cursive;
    font-size: 2.2rem;
    color:black;
}

main{
    width: 100vw;
    height: 100vm;
}

.home{
    width: 56%;
    min-height: 250px;
    min-width: 320px;
    max-width: 550px;
    margin: 1rem auto;
    background-color: #fcd5ce;
    display: flex;
    justify-self: flex-end;
    font-size: 1.6rem;
    box-shadow:
       inset 0 -0.7em 0.7em rgba(0,0,0,0.1),
             0 0  0 2px rgb(255,255,255),
             0.3em 0.3em 1em rgba(0,0,0,0.3);
}
.home article{
    width: 50%;
}
.home .photo{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home .photo-name{
    text-align: center  ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    margin: 2em 0;
}

.home .photo_profile{
    text-align: center;
}

.home .photo_profile img{
    border-radius: 50%;
    height: 14rem;
}

.nom_profesion{
    width: 70%;
    color:black;
    font-size: 1.5rem;
    font-family: 'Oswald', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

hr {
    width: 20%;
    height: 3px;
    background-color: black;
    border-color: transparent;
}

.home .home_text{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.home article .redes{
    width: 100%;
    text-align: center;
    background-color: lavenderblush;
}

.home article .redes img{
    margin: 3px;
}



.home .profile{
    background-color: white;
    justify-content: flex-end;
}

.home .profile p{
    padding: 1rem;
}

.home .redes img{
    height: auto;
    width: 20px;
    vertical-align: middle;
}

.home img{
    width: 50%;
}

.profile section a{
    text-decoration: none;
    color: #14213d;
    font-weight: bold;
}
.profile section span{
    height: 100%;
    background-color: #ade8f4;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile section a:hover{
    color:#fefae0;
}

.profile section span:active{
    background-color: #e63946;
}

.profile section{
    width: 80%;
    order: -1;
    display: flex;
    justify-content: space-around;
}

footer{
    margin-top: 3%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin-bottom: 1%;
}

footer img{
    width: 25px;
}
