main{
    width: 100vw;
    justify-content: center;
}


.photo_redes{
    width: 30vw;
    order:0;
}


.proyectos{
    width: 100vw;
    order: 1;
}

.skills{
    width: 100vw;
    order: 3;
}

.about-me,.education, .awards{
    order: 2;
    width: 50vw;
}

.form-content{
    width: 100vw;
}